.nav-container {
  grid-column: 1/-1;
  /* padding: 4rem 6rem; */
  z-index: 30;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .nav-container {
    position: fixed;
    padding: 1rem;
    width: 100vw;
  }
}
.nav-container .brand-logo {
  cursor: pointer;
}
.nav-container .nav-list {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  /* flex-direction: row-reverse; */
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}
/*  
.nav-container .nav-list:nth-child(2){ 
  order: -1; 
} */
@media only screen and (max-width: 37.5em) {
  .nav-container .nav-list {
    display: none;
  }
}
.nav-container .nav-list .nav-item {
  list-style: none;
}
.nav-container .nav-list .nav-item:not(:last-child) {
  margin-right: 5rem;
}
.nav-container .nav-list .nav-item a {
  font-size: 1.6rem;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
}
.auth-btn {
  border-radius: 1.25rem;
  background: rgba(111, 207, 151, 0.2);
  display: flex;
  justify-content: center;
  width: fit-content;
  align-items: center;
  width: 6.5rem;
  height: 3rem;
  cursor: pointer;
  font-size: 1.4rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #219653;
}

.auth-btn2 {
  background: #219653;
  color: #fff;
}

.auth-btns {
  display: none;
  flex-direction: row;
  gap: 1rem;
}

.nav-container .nav-list .nav-item__download {
  background: rgba(111, 207, 151, 0.2);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 1rem;
  width: 4.2rem;
  height: 4.2rem;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.nav-container .nav-list .nav-item__download:not(:last-child) {
  margin: 0 2rem;
}
.nav-container .nav-list .nav-item__download:hover {
  opacity: 0.75;
}
.nav-container .nav-list .nav-link {
  padding-bottom: 0.6rem;
  overflow: hidden;
  /* display: inline-block; */
  position: relative;
}
.nav-container .nav-list .nav-link:hover:after {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
}
.nav-container .nav-list .nav-link:after,
.active {
  content: " ";
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateX(-105%);
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.sticky-nav {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.104);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.104);
  position: fixed;
  width: 100%;
  z-index: 10;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.nav-icon {
  /* display: none; */
}
@media only screen and (max-width: 50em) {
  .nav-icon {
    display: block;
    z-index: 10;
    width: 6rem;
    height: 6rem;
  }
}
