.logo{
  width: 65px;
}
.navbar {
  background-color: #0F5ACD;
   transition: box-shadow 0.3s ease-in-out;
   /* height: 100px; */
}

.navbar.scrolled {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  margin-right: auto;
}

.navbar-nav {
  margin: 0 auto;
}

.nav-link {
  padding: 0.5rem 1rem;
}
.nav-link{
  color: white !important;
  font-weight: 500;
}

.btn {
  margin-left: auto;
}

@media (max-width: 767.98px) {
  .navbar-collapse {
    justify-content: space-between;
  }

  .nav-link {
    text-align: center;
  }
}